.watchlist{
    float: right;
    width: 32%;
    border-left: 2px solid black;
    overflow-y: scroll;
}
.watchlist h2{
    padding: 1rem;
}
.watchlist-card{
    margin: 1rem 20%;
}

.watchlist::-webkit-scrollbar {
    width: 5px;
}

.watchlist::-webkit-scrollbar-track{
    background: transparent;
}

.watchlist::-webkit-scrollbar-thumb {
    background: #e7e9ee;
}

@media (max-width:1200px) {
    .watchlist{
        display: none;
    }
}