.content {
  height: 100vh;
  overflow: hidden;
}

.video-player video {
  height: 100vh;
  width: 100%;
}

.modal-height-limit {
  overflow-y: scroll;
  min-height: fit-content;
  max-height: 25rem;
}

.modal-height-limit::-webkit-scrollbar {
  width: 8px;
}

.modal-height-limit::-webkit-scrollbar-track {
  background: #444;
}

.modal-height-limit::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
