@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.invisible {
  visibility: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: #679e8e;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
