.history {
  margin: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70.2vh;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2rem;
}
.card span {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .card {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
}
@media (max-width: 1000px) {
  .card {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (max-width: 850px) {
  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 700px) {
  .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 600px) {
  .card {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }
}
@media (max-width: 500px) {
  .card {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (max-width: 440px) {
  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 380px) {
  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 300px) {
  .card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.history::-webkit-scrollbar {
  width: 5px;
}

.history::-webkit-scrollbar-track {
  background: transparent;
}

.history::-webkit-scrollbar-thumb {
  background-color: rgb(189, 116, 52);
}
