.content {
  height: fit-content;
  overflow-y: scroll;
}
.carousel {
  width: 100%;
  height: 70vh;
}
.genre {
  height: 30%;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}

.genre h2 {
  padding: 1rem;
  text-align: center;
}
.genre-card {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 6rem;
  margin-right: 5rem;
}

@media (max-width: 1950px) {
  .genre-card {
    margin-left: 3.5rem;
    margin-right: 0;
  }
}
@media (max-width: 1700px) {
  .genre-card {
    margin-left: 2.5rem;
    margin-right: 0;
  }
}

@media (max-width: 1600px) {
  .genre-card {
    margin-left: 1.6rem;
    margin-right: 1rem;
  }
}
/* @media (max-width: 1200px) {
  .content {
    flex-direction: column;
    height: auto;
  }
  .slider {
    padding-top: 20px;
    width: 100%;
  }
  .genre {
    width: 100%;
    border-left: none;
    padding-top: 20px;
  }
} */

@media (max-width: 600px) {
  .genre-card {
    margin-left: 7.5rem;
  }
}

@media (max-width: 550px) {
  .genre-card {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media (max-width: 470px) {
  .genre-card {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (max-width: 380px) {
  .genre-card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 300px) {
  .genre-card {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.content::-webkit-scrollbar {
  width: 2px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: brown;
}
